.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.316), rgba(0, 0, 0, 0.315)),
    url("../image/home-background.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.login {
  background-image: linear-gradient(
    to bottom right,
    rgba(86, 69, 38, 0.395),
    rgba(255, 255, 255, 0.096),
    rgba(63, 54, 38, 0.351)
  );

  border-radius: 20px;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  height: 50vh;
  width: 450px;
  position: relative;
  top: 19vh;
  left: 75vh;
  padding-top: 9vh;
}
.login h1 {
  color: rgb(143, 69, 69);
  font-size: 3.5rem;
  position: relative;
  top: 20px;
}
.home-btn {
  /* padding-top: 50px; */
  position: relative;
  top: 45px;
}
.home-btn button {
  font-family: "Times New Roman";
  font-weight: 900;
  width: 50%;
  height: 55px;
  font-size: 1.3rem;
  margin-bottom: 20px;
  border: 1px solid rgb(12, 12, 11);
  border-radius: 50px;
}
